
.speaker-list-web {


ion-card.speaker  {
  width: 350px;
}

ion-card.speaker img {
  max-width: 70px;
    max-height: 70px;
  border-radius: 50%;
}
  ion-card.speaker ion-card-header .item {
    padding: 12px;
  }

  ion-card.speaker ion-card-content .list {
    margin: 0;
  }

  ion-card.speaker ion-card-header,
  ion-card.speaker ion-card-content,
  ion-card.speaker ion-card-content .list ion-item-content, {
    padding: 0;
  }

}
