<ion-header>
  <ion-navbar class="nav-no-border">

<!--
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
-->

  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

<ion-searchbar primary
               [(ngModel)]="queryText"
               (ionInput)="updateSchedule()"
               placeholder="Search program schedule"
               >
</ion-searchbar>
    <ion-buttons end>
      <button (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="toggletoolbar" no-border-top>

    <table width="100%">
      <tr>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation('Room1')" [outline]="locations[1].hide" class="scheduletogglebutton" small block [color]="'room1'">Room1</button></td>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation('Room2')" [outline]="locations[2].hide" outline class="scheduletogglebutton" small block [color]="'room2'">Room2</button></td>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation('Room3')" [outline]="locations[3].hide" class="scheduletogglebutton" small block [color]="'room3'">Room3</button></td>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation('Social Area')" [outline]="locations[0].hide" outline class="scheduletogglebutton" small block [color]="'socialarea'">Social Area</button></td>
      </tr>
    </table>
  </ion-toolbar>

</ion-header>


<ion-content class="schedule">

  <ion-list #scheduleList>
        <ion-item no-lines *ngFor="let group of flatGroups" [hidden]="group.hide">
        <ion-item-content class="time-group">
<!--
        <ion-item-divider sticky class="date-group">
          {{group.scheduleHeader}}
        </ion-item-divider>
-->

        <ion-item-divider sticky class="time-group">
          {{group.time}}
        </ion-item-divider>

        <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.location]="locationNoSpaces(session.location) | lowercase" [hidden]="session.hide">

          <ion-item>

            <ion-grid style="padding:0">
    <ion-row style="padding:0">
      <ion-col style="padding:0;max-width: 1%;" width-10>
        <button style="height:35px; width:35px" favorite (click)="addFavorite(slidingItem, session)" >
        <ion-icon  name="star" ></ion-icon>
      </button>
    </ion-col>
        <ion-col  style="padding:0;padding-left:25px;" width-90>
          <button text-wrap ion-item (click)="goToSessionDetail(session)">

                    <h3>{{session.name}}</h3>
                    <p>
                      <span  *ngIf="session.speakerNames">{{session.speakerNames}} in</span>
                      {{session.location}}
                    </p>
                  </button>
                </ion-col>
    </ion-row>
  </ion-grid>



          <ion-item-options>
            <button favorite (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
              Favorite
            </button>
            <button danger (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
              Remove
            </button>
          </ion-item-options>
        </ion-item>
        </ion-item-sliding>
</ion-item-content>
      </ion-item>
<!--
    <ion-list-header [hidden]="day.shownSessions > 0">
        No Sessions Found.
    </ion-list-header>
-->

  </ion-list>

</ion-content>
