<ion-header>
  <ion-navbar no-border-bottom>

<!--
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
-->

<ion-searchbar primary
               [(ngModel)]="queryText"
               (ionInput)="updateSchedule()"
               placeholder="Search program schedule">
</ion-searchbar>
    <ion-buttons end>
      <button (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="toggletoolbar" no-border-top>

    <table width="100%">
      <tr>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation(locations[0].name)" [outline]="locations[0].hide" class="scheduletogglebutton" small block [color]="'ballroom'">Ballroom</button></td>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation(locations[2].name)" [outline]="locations[2].hide" outline class="scheduletogglebutton" small block [color]="'galaroom'">Gala</button></td>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation(locations[3].name)" [outline]="locations[3].hide" class="scheduletogglebutton" small block [color]="'boundaryroom'">Workshop</button></td>
        <td class="scheduletoggle" width="25%"><button (click)="toggleLocation(locations[1].name)" [outline]="locations[1].hide" outline class="scheduletogglebutton" small block [color]="'indabatree'">Indaba</button></td>
      </tr>
    </table>
  </ion-toolbar>
</ion-header>





<ion-content class="schedule" >


  <ion-list #scheduleList [virtualScroll]="flatGroups">
        <ion-item no-lines *virtualItem="let group" [hidden]="group.hide">
        <ion-item-content class="time-group">
<!--
        <ion-item-divider sticky class="date-group">
          {{group.scheduleHeader}}
        </ion-item-divider>
-->

        <ion-item-divider sticky class="time-group">
          {{group.time}}
        </ion-item-divider>

        <ion-item-sliding *ngFor="let session of group.sessions" #slidingItem [attr.location]="locationNoSpaces(session.location) | lowercase" [hidden]="session.hide">

          <button ion-item (click)="goToSessionDetail(session)">
            <h3>{{session.name}}</h3>
            <p>
              <span  *ngIf="session.speakerNames">{{session.speakerNames}} in</span>
              {{session.location}}
            </p>
          </button>

          <ion-item-options>
            <button favorite (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
              Favorite
            </button>
            <button danger (click)="removeFavorite(slidingItem, session, 'Remove Favorite')" *ngIf="segment === 'favorites'">
              Remove
            </button>
          </ion-item-options>

        </ion-item-sliding>
</ion-item-content>
      </ion-item>
<!--
    <ion-list-header [hidden]="day.shownSessions > 0">
        No Sessions Found.
    </ion-list-header>
-->

  </ion-list>

</ion-content>

<ion-footer>

    <table width="100%">
    <tr>
      <td class="daytoggle" colspan="2"><button (click)="toggleDay(confData.data.schedule[0].date)" class="scheduletogglebutton" [outline]="confData.data.schedule[0].hide" small block >{{confData.data.schedule[0].date}}</button></td>
      <td class="daytoggle" colspan="2"><button (click)="toggleDay(confData.data.schedule[1].date)" class="scheduletogglebutton" [outline]="confData.data.schedule[1].hide" small block >{{confData.data.schedule[1].date}}</button></td>
    </tr>
    </table>

</ion-footer>
