$categories: (
 ionic: color($colors, primary),
 ballroom: #000066,
 indabatreeroom: #006600,
 galaroom: #AC282B,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule {
  @each $room, $value in auxiliary-categories() {
   ion-item-sliding[room=#{$room}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}

.date-group{
  text-align: center;
  font-size: 20px;
  background-color: #f2f2f2;
}

.time-group{
  background-color: #f7f7f7;
}
