<ion-header>
  <ion-navbar>
    <ion-title>Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{session.name}}</h1>

  <ion-divider>
    <ion-item no-lines>
      <div class="stars">
        <star *ngFor="let star of stars" [active]="star <= _rating" (rate)="onRate($event)" [position]="star">
        </star>
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Comment" [(ngModel)]="comment"></ion-input>
    </ion-item>
    <button class="button-light" (click)="postRating()">Rate</button>
  </ion-divider>
  <br>

  <h4 *ngFor="let speaker of session.speakers">
    {{speaker.name}}
  </h4>

  <p>
    {{session.date}}    {{session.timeStart}} - {{session.timeEnd}}
  </p>

  <h6>{{session.location}}</h6>

  <p class="session-description">{{session.description}}</p>
</ion-content>
