<ion-header>
  <ion-navbar>
    <ion-title>Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{session.name}}</h1>

  <ion-divider>
    <ion-item no-lines>
      <div class="stars">
        <star *ngFor="let star of stars" [active]="star <= _rating" (rate)="onRate($event)" [position]="star">
        </star>
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Write a comment..." [(ngModel)]="comment"></ion-input>
      <button item-right outline (click)="postRating(session)" [disabled]="_rating === 0 && comment === ''">Rate</button>
    </ion-item>
  </ion-divider>
  <br>

  <center>
    <button light outline class="speaker-button" *ngFor="let speaker of session.speakers" (click)="goToSpeakerDetail(speaker)">
      {{speaker.name}}
    </button>
  </center>

  <h5 text-center>{{session.date}}</h5>
  <h6 text-center>{{session.timeStart}} - {{session.timeEnd}}</h6>

  <ion-card class="session-description">
  <button clear twitter (click)="goToTwitter(session.speakers)"><ion-icon name="logo-twitter"></ion-icon>Tweet</button>
    <ion-card-header>{{session.location}}</ion-card-header>
    <ion-card-content>{{session.description}}</ion-card-content>
  </ion-card>
</ion-content>
